#!/bin/bash

#Declaring mysql DB connection 

MASTER_DB_USER='root'
MASTER_DB_PASSWD='root'
MASTER_DB_HOST='localhost'
MASTER_DB_NAME='user_information_db'

#mysql command to connect to database

MYSQL_PWD="$MASTER_DB_PASSWD" mysql -h "$MASTER_DB_HOST" -u "$MASTER_DB_USER" "$MASTER_DB_NAME"
$MYSQL_PWD
